body{margin-top: 70px; margin-bottom: 70px;}
em {color: red;}
.footer{font-size: 10px;}
.video-container {
				margin: -1px auto 0;
				width: 480px;
				height: 270px;
				background-color: #000;
				overflow: hidden;
				position: relative;
			}